<html>
<head>
	<title><%= titulo; %></title>
</head>
<body>
	<h1><%= cap; %>
	<% 
	blog.forEach(function(posts)
	{
		%>
		
		<h2><%= posts.titulo %></h2>
		<h3><%= posts.data %></h3>
		<h4><%= posts.post %></h4>

		<%
	});
	%>
</body>
</html>
